<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>box breathing</title>
  <link rel="apple-touch-icon" href="icon.png" />
  <link rel="icon" href="icon.svg" />
  <link rel="manifest" href="manifest-light.json" />
  <meta name="theme-color" content="white" />
  <script src="main_script.js" defer></script>
</head>
<body>
  <canvas
    id="main-canvas"
    aria-label=""
    aria-live="assertive"
    class="main-canvas"
  ></canvas>
  <canvas
    id="second-canvas"
    aria-label=""
    aria-live="assertive"
    class="second-canvas"
  ></canvas>
</body>
